<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-12">
<h1>Tv Shows</h1>

<div class="table-responsive-lg">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Resumen</th>
      <th>Fecha realización</th>
      <th>Rating</th>
      <th>Nacionalidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @tv_shows.each do |tv_show| %>

      <tr>
        <td><%= tv_show.name %></td>
        <td><%= tv_show.summary %></td>
        <td><%= tv_show.release_date %></td>
        <td><%= tv_show.rating %></td>
        <td><%= image_tag(url_for(tv_show.nationality.flag_img))  %></td>

        <% if user_signed_in? %>
            <td><%= link_to 'Ver', tv_show, class: 'btn btn-outline-success' %></td>
        <% end %>
        <% if (user_signed_in? && (current_user == tv_show.user)) %>
            <td><%= link_to 'Editar', edit_tv_show_path(tv_show), class: 'btn btn-outline-warning' %></td>
            <td><%= link_to 'Eliminar', tv_show, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'%></td>
        <% elsif user_signed_in? && current_user.admin? %>
            <td><%= link_to 'Eliminar', tv_show, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if user_signed_in? %>
  <%= link_to 'Nuevo Tv Show', new_tv_show_path, class: 'btn btn-info' %>
<% end %>

<br>
    </div>
  </div>
</div>
<br>
